body {

padding-top: 150px;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(135, 146, 34, 0.603);
}


.images {

background: red;

height: 400px;
width: 400px;
background: url(hatter.jpg)center/cover no-repeat;
box-shadow: 5px 10px ; 
position: relative;
}

.btn {

background-color: white;
color: black;
border: 3px solid yellow;
font-size: 30px;
padding: 20px;
border-radius: 10px;
outline: none;
}

.prevBtn {
position: absolute;
top: 50%;
left: -60px;
}


.nextBtn {

   
    position: absolute;
    top: 50%;
    right: -60px;

}

.btn:active {

background: gray;

}

.btn:hover{
background: green;
color: white;

}

